@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fade-out animation for confetti */
.confetti-wrapper {
    animation: fadeOut 10s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
